[Unit]
Description=Scytale Server
After=network.target

[Service]
WorkingDirectory=/var/lib/scytale-server
ExecStart=/usr/local/bin/scytale-server -port=8081
User=scytale-server
Group=scytale-server
UMask=022

[Install]
WantedBy=multi-user.target
