{{ define "content" }}
<center>
	<div id="progressBarDiv" >
		<div class="progress">
			<div class="progress-bar progress-bar-striped active" role="progressbar"
				aria-valuenow="0" aria-valuemin="0" aria-valuemax="100"
				style="width: 0%;" id="progressBar">
			</div>
		</div>
		<p id="progressBarText">Downloading file: 0%</p>
	</div>
	<img style="max-width: 90%;" id="imageView" />
</center>
{{ end }}
{{ define "scripts" }}
<script src="js/sodium.min.js"></script>
<script src="js/base64js.min.js"></script>
<script>
	var bar = document.getElementById("progressBar");
	var barText = document.getElementById("progressBarText");

	function getQueryParam(p) {
		var query = window.location.search.substring(1);
		var params = query.split("&");

		for (var i = 0; i < params.length; i++) {
			var pair = params[i].split("=");
			if (pair[0] == p) {
				return pair[1];
			}
		}

		return null;
	};

	function getImage() {
		loc = getQueryParam("l");
		if (loc == null) {
			console.error("loc is null");
			return;
		}

		key = location.hash;
		if (key == null) {
			console.error("key is null");
			return;
		}
		key = key.slice(1);
		key = base64js.toByteArray(key);

		var req = new XMLHttpRequest();
		req.responseType = "arraybuffer";
		req.onprogress = function(e) {
			if (!e.lengthComputable) {
				return;
			}

			var percent = Math.round((e.loaded * 100) / e.total);

			bar.style.width = percent + "%";
			bar.aria_valuenow = percent;
			barText.innerHTML = "Downloading file: " + percent + "%";
		};
		req.onreadystatechange = function() {
			if (req.readyState != XMLHttpRequest.DONE) {
				return;
			}

			bar.style.width = "100%";
			bar.aria_valuenow = 100;
			barText.innerHTML = "Decrypting file...";

			var data = new Uint8Array(req.response);

			//nonce is always 0 in our implementation
			var nonce = new Uint8Array(sodium.crypto_secretbox_NONCEBYTES);
			var decrypted = sodium.crypto_secretbox_open_easy(data, nonce, key);
			var imgType = new Int32Array(decrypted.buffer.slice(0, 4))[0];

			switch (imgType) {
				case 1196314761:
					imgType = "image/png";
					break;
				case 944130375:
					imgType = "image/gif";
					break;
				case 544099650:
					imgType = "image/bmp";
					break;
				case -520103681:
					imgType = "image/jpg";
					break;
				default:
					imgType = "image/unknown";
					break;
			}

			document.getElementById("progressBarDiv").style.display = "none";

			var decryptedBase64 = base64js.fromByteArray(decrypted)
			document.getElementById("imageView").src = "data:" + imgType + ";base64," + decryptedBase64;
		}
		req.open("GET", "/dl?l=" + loc);
		req.send(null);
	};
	window.onload = getImage;
</script>
{{ end }}
